body {
  margin-left: 10%;
  margin-right: 10%;
}

.fork-and-knife {
  float: left;
}

.header-text {
  float: left;
  padding-left: 5px;
}

#delicious {
  margin: 0px;
  font-family: 'Lobster', cursive;
  font-size: 32px;
}

#food-blog {
  margin: 0px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 10px;
}

.logos-top-right {
  float: right;
}

#pinterest-logo {
  padding-right: 18px;
}

#line-break {
  background: repeating-linear-gradient(45deg,
  grey, grey 2px, white 2px, white 4px);
  height: 16px;
  border: 2px;
  position: absolute;
  margin-top: 80px;
  width: 80%;
}

.above-image-text {
  float: left;
  position: absolute;
  margin-top: 120px;
  width: 100%;
}

#chocolate-pizza-text {
  font-size: 34px;
  font-family: sans-serif;
  margin-bottom: 0px;
}

#post-date {
  margin: 0px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 100;
}

#print-icon {
  float: right;
  margin-top: 160px;
}

.chocolate-pizza-image {
clear: both;
}

#pizza-image {
width: 1130px;
float: right;
}

.paragraphs {
  clear: both;
  padding-top: 24px;
  font-size: 18px;
}

#paragraph-1 {
  text-indent: 28px;
}

#paragraph-2 {
  text-indent: 28px;
}

#paragraph-3 {
  text-indent: 28px;
}

#ingredients-checklist {
  position: absolute;
  margin-top: 10px;
  font-size: 24px;
}

.ingredients-list {
  list-style: none;
  display: inline-block;
  line-height: 2;
  margin-left: 44px;
}

.ingredients-list-2 {
  list-style: none;
  display: inline-block;
  line-height: 2;
  margin-left: 164px;
}

#sugar {
  text-decoration: line-through;
}

#yolks {
  text-decoration: line-through;

}

#paper-list {
  float: left;
  clear: both;
  width: 1130px;
}

#line-break-2 {
  background: repeating-linear-gradient(45deg,
  grey, grey 2px, white 2px, white 4px);
  height: 16px;
  border: 2px;
  clear: both;
  margin-top: 480px;
}

.lower-section {
  height: 5%;
  width: 100%;
}

#lady {
  float: left;
}

#vanessa {
  font-weight: bolder;
  margin-left: 100px;
}

#food-enthusiast {
  margin-left: 100px;
}

#share-recipe {
  float: right;
  border: 1px solid black;
  padding: 14px;
  margin-top: -58px;
  background-color: red;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
}

.line {
  border: .5px solid grey;
  background-color: grey;
  width: 100%;
  height: .5px;
  margin-top: 88px;
}

#last-image {
  display: inline;
  margin-top: -18px;
  margin-left: 40%;
  position: absolute;
}

#footer {
  text-align: center;
  margin-top: 66px;
}
